// Customize orders filter
[data-hook="admin_orders_index_search"] {
  select[data-placeholder="Status"] {
    width: 100%;
  }

  .select2-container {
    width: 100% !important;
  }
}

// Order-total
[data-hook="order_details_total"]{
  text-align: center;

  .order-total {
    font-size: 35px;
    font-weight: 600;
    color: $color-success;
  }
}

[data-hook="admin_order_form_fields"] {
  legend.stock-location {
    color: $color-body-text;

    .shipment-number {
      color: $color-success;
    }
    .stock-location-name {
      color: $color-success;
    }
  }
}

// Customize orduct add fieldset
#add-line-item {
  fieldset {
    padding: 10px 0;

    .field {
      margin-bottom: 0;

      input[type="text"], input[type="number"] {
        width: 100%;
      }
    }
    .actions {
      .button {
        margin-top: 28px;
      }
    }
  }
}

[data-hook="adjustments_new_coupon_code"] {
  margin-bottom: 18px;
}

#risk_analysis legend {
  background-color: #c00;
  color: #FFF;
  font-size: 2em;
}

.review-overlay {
  visibility: hidden;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000;
  background-color: rgba(0,0,0,0.2);

  .modal-content {
    width: 500px;
    margin: 100px auto;
    background-color: #FFF;
    border: 1px solid #000;
    padding: 25px;
    text-align: left;

    .modal-fields {
      margin-top: 10px;

      textarea {
        width: 100%;
        height: 6em;
      }
    }

    .modal-actions {
      margin-top: 10px;
    }
  }
}

.review-overlay.visible {
  visibility: visible;
}
